.example-form {

    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    height: 20px;
    width: 100%;
    
    
  

  }
  .resize {
    

    height: 120px;
    width: 80%;


  }
  .icon{
     position: absolute;
     top: 10%;
     left: 73%;
     
     
      
  }

  .example-full-width1{
      position: absolute;

      top: 10%;
      left: 35%;
      width: 35%;
  }
  /* .example-full-width1 .files{
    top: 10px;
    left: 25%;
} */
  
  .example-full-width {
  
 width: 39.5%;
  
  padding-right: 15px;
  }

@media screen and (max-width:750px){
    .example-form  {
        position: absolute;
        
    
        width: 100%;
        
    }
}
.image{
    width: 100%;
    overflow: hidden;
    
   margin: 0px auto;
    padding: 0px; 
}

.image ul{
    padding-top: 205px;
    margin: 0px;
    
}


.image ul .image1{
    list-style:none;
    float:left;
    
    width: 100%;
    height: 1000px;
   


}

.size{
    align-content: left;
    width: 80%;
    height: 1000px;
}
.image ul li .images{
    width: 100%;
    height:50px;
    line-height: 50px;
    padding-left: 5px;
    text-align: left;
}
.image ul li:hover{
    opacity: 0.9;
}



@media screen and (max-width:1200px){
    .image ul .image1{
        width:100%;
        padding-top: 350px;
        margin-left:5px;
    }
}
@media screen and (max-width:750px){
    .image{
        width:100%;
        padding:0px;
        padding-top: 40px;
    }
    .image ul .image{
        float:none;
        width:90%;
        margin: 50px auto;
        
    }
   
    
}

@media screen and (max-width:750px){
    .example-form  .icon {
        position: absolute;
        
    
        top: 70px;
        
    }
}

@media screen and (max-width:750px){
    .example-form  .example-full-width1{
        position: absolute;
        
    
        top:50px;
        
    }
}
@media screen and (max-width:750px){
    .example-form  .example-full-width{
        position: relative;
       
  
            width: 80%;
             
           
    padding-top: 0px;
        top:10px;
        
    }
}
